h1 {
  text-align: center;
}
form {
  border: 1px solid grey;
  padding: 10px 20px;
  margin-bottom: 10px;
}
form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}

button {
  font-size: 16px;
  color: blue;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin: 10px ;
} 
button:hover {
  color: rgb(173, 47, 28);
}
.show{
  margin-left: 30px;
}